@import "tailwindcss";
/* @plugin "flowbite-react/plugin/tailwindcss"; */
/* @source "../../.flowbite-react/class-list.json"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@tailwind utilities;

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-dancing: "Dancing Script", cursive;
}
@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    @keyframes custom-bounce {
        0%,
        100% {
            transform: translateY(-10%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    .animate-custom-bounce {
        animation: custom-bounce 2s infinite;
    }
    .font-dancing{
        font-family: var(--font-dancing);
    }
}
